/* reset sheet */
* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none !important;
}

/* default elements */

:root {
  --light-orange: #ff7900;
  --dark-orange: #fe5800;
  --dark-blue: #0071c3;
  --light-blue: #00abde;
}
/* default styles */
body {
  font-family: sans-serif;
}

.awesome_design_three {
    background-size: cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border: 1px solid var(--dark-orange);
    position: relative;
    left: 40%;
    transform: rotate(45deg);
  }
  
  .awesome_design_two {
    background-size: cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border: 1px solid var(--dark-orange);
    position: relative;
    left: 20%;
    transform: rotate(45deg);
  }
  
  .awesome_design {
    background-size: cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border: 1px solid var(--dark-orange);
    position: relative;
    left: 90%;
    transform: rotate(45deg);
  }
  
  .awesome_design_footer {
    background-size: cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border: 1px solid var(--dark-orange);
    position: relative;
    left: 70%;
    transform: rotate(45deg);
  }

.home_section {
  background: url(../images/homeimage/home7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container_holder,
.header_contents,
.home_content_holder,
.our_company_policy,
.about_us,
.company_servies,
.facts,
.fiero_projects,
.project_into,
.footer_holder,
.questions,
.service-details,
.contact_us,
.project-categories {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  min-width: 300px;
  width: 100%;
  min-width: 300px !important;
}

.home_section .container {
  max-width: 1200px !important;
  margin: 0 auto !important;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
}

body,
html {
  overflow-x: hidden;
}

p {
  font-size: 0.95rem;
}

.navbar-brand {
  font-weight: 1000;
}

.fiero_logo {
  height: 50px;
  width: 170px;
}
/* .navbar-nav {
  margin: 0 5% 0 0;
  padding: 0 !important;
} */

.navbar {
    padding: 5px 0 !important;
}

.navbar-nav li {
  padding: 0 8px;
}

.navbar-nav a,
.nav_btn {
  font-size: 0.8rem !important;
  font-weight: 500;
  text-transform: uppercase;
}

/* .navbar-nav a:hover {
  background: var(--linear);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-out;
  font-weight: 500;
} */

/* #fe5800 #ff7900.  #0071c3 #00abde */

.nav_btn {
  background: var(--linear);
}

.navbar-toggler {
  background: var(--linear);
  padding: 0.2rem 0.7rem;
  font-size: 1.25rem;
  line-height: 1;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border-radius: none !important;
}

/* nav bar responsive */
@media screen and (max-width: 767px) {
  .navbar-nav li {
    padding: 5px 0;
  }

  .navbar-nav a,
  .nav_btn {
    font-weight: 500;
    color: var(--primary-text-color) !important;
  }

  /* .navbar .fiero_logo {
      height: 35px;
      width: 150px;
      margin-left: -100px;
    } */

  .fiero_logo {
    height: 35px;
    height: 40px;
    width: 150px;
    width: 130px;
    margin-left: -100px;
    z-index: 10000;
    color: #ffffff !important;
  }

  .navbar-nav {
    margin: 0 0 5% 0 !important;
    padding: 0 !important;
  }
}

/* home section */

.home_content_holder {
  /* height: 100dvh; */
  height: calc(100dvh) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px !important;
  z-index: 100;
}

.home_image {
  position: relative;
  border-radius: 141px 22px 115px 58px;
  -webkit-border-radius: 141px 22px 115px 58px;
  -moz-border-radius: 141px 22px 115px 58px;
}

@media screen and (min-width: 767px) {
  .home_content_holder {
    height: calc(100dvh + 80px);
    order: 1;
  }
}

@media screen and (max-width: 767px) {
  .home_content_holder {
    order: 1;
  }

  .opening_content {
    order: 2;
  }

  .home_image img {
    background: transparent;
    width: auto;
    transform: scale(1);
  }
}

* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none !important;
}

/* default styles */

/* Add this CSS to your stylesheet */

.blur-effect {
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* Light background for blur effect */
  backdrop-filter: blur(3px); /* Adjust blur strength as needed */
  z-index: 999; /* Ensure it’s above other content */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
  pointer-events: none; /* Prevent interactions with the blur effect */
}

.blur-effect.show {
  opacity: 1; /* Show the blur effect */
}

/* logo */
.fiero_logo {
  height: 35px;
  height: 50px;
  width: 150px;
  width: 170px;
  margin-left: -100px;
  z-index: 10000;
  color: #ffffff !important;
}

@media screen and (max-width: 767px) {
  .navbar-nav li {
    padding: 5px 0;
  }

  .navbar-nav a,
  .nav_btn {
    font-weight: 500;
    color: var(--primary-text-color) !important;
  }

  /* .navbar .fiero_logo {
      height: 35px;
      width: 150px;
      margin-left: -100px;
    } */

  .fiero_logo {
    height: 35px;
    height: 40px;
    width: 150px;
    width: 130px;
    margin-left: -100px;
    z-index: 10000;
    color: #ffffff !important;
  }

  .navbar-nav {
    margin: 0 0 5% 0 !important;
    padding: 0 !important;
  }
}
