:root {
    /* Background Colors */
  
    --primary-bg-color: #021735;
    /* --primary-bg-color: #0b2c57; */
    --secondary-bg-color: #d7dfef;
    /* Text Colors */
  
    --primary-text-color: #ffff;
    --primary-two-color: #021735;
    --paragraph-text-color: #ffffff80;
    --secondary-text-color: #d7dfef;
    --orther-text-color: #ff7900;
    --linear: linear-gradient(130deg, #ff7900, #00abde);
  
    /* Button Colors */
  
    /* fonts */
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

.service-categories, .project-categories {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service-details, .project-details {
    display: none;
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
    width: 100%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* styles for the card */

.service-details h2 , .project-details h2 {
    color: var(--orther-text-color);
}

.service-details p , .project-details p{
    color: var(--primary-text-color);
}


.service-details label, .project-details label{
    color: var(--primary-text-color);
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
}

.list-group-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.list-group-horizontal li{
    border-radius: 0px !important ;
    /* background: var(--linear); */
    background: #80451195;
    background: #1885a7;
    color: var(--primary-text-color);
    border: 1px solid #021735;
}


/* Default styles for list items */
.list-group-item,.list-group-item-for-projects {
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

/* Styles for selected item */
.list-group-item.selected {
    border: 1px solid #021735; 
    background: linear-gradient(45deg, #ff7900, #00abde); /* Linear gradient background */
    color: white; /* Text color for better contrast */
}


.list-group-item:hover, .list-group-item-for-projects:hover {
    border: 1px solid #ff7900; 
}

.list-group-item-for-projects.selected {
    border: 1px solid #021735; 
    background: linear-gradient(45deg, #ff7900, #00abde); /* Linear gradient background */
    color: white; /* Text color for better contrast */
}


::-webkit-input-placeholder {
    font-size: .8rem;
    color: #0000006f !important;

}
:-ms-input-placeholder {
    font-size: .8rem;

}
::placeholder {
    font-size: .8rem;
}



#serviceType, #preferredContact, #designType, #appType, #appPlatform, #problemType{
    background-color: #00abde;
    color: var(--primary-text-color);
}

.list-group-item-for-projects {
    padding: 7px 5px;
    list-style-type: none;
}


/* for modals */

/* Optional: Fullscreen modal styles */
.modal-dialog-fullscreen {
    max-width: 100%;
    height: 100dvh;
    margin: 0 !important;
    padding: 0 !important;
   overflow-y: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .modal-content {
    z-index: 0;
    display: flex;
    flex-direction: column;
    
  }
  
  .modal-body, .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .modal-content img{
    max-height: 98dvh;
  }

  /* .modal-header {
    z-index: 1;
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: grab;
  }




  @media screen and (min-width:767px) {
    .modal-header {
        z-index: 1;
        position: absolute;
        top: 46%;
        right: 0%;
      }
    
  } */


  .modal-header {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    cursor: grab; /* Indicate that the button can be dragged */
  }
  
  .paragraph {
    z-index: 1;
    position: absolute;
    top: -2px;
    width: 100%;
    text-align: center;
    color: var(--primary-text-color);
    color: var(--orther-text-color);
  }
  
  .modal-header button {
    border: 3px solid var(--primary-text-color);
    background: var(--linear);
    z-index: 0;
    display: flex;
  }
  

  .modal-header button i{
    display: inline-block;
    color: red !important;
    font-size: 1.3rem;
    align-self: center;
    z-index: 10;
    height: 100%;
    align-items: center;
    align-self: center;

  }


  .text-danger {
    color: #dc3545; /* Bootstrap's red color for danger text */
    font-size: 1rem; /* Adjust font size as needed */
    font-weight: bold; /* Make text bold */
    border: 1px solid #dc3545; /* Red border around the note */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Space inside the border */
    background-color: #f8d7da; /* Light red background color */
    margin-top: 15px; /* Space above the note */
    margin-bottom: 15px; /* Space below the note */
    text-align: center; /* Center-align the text */
}
