/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* reset sheet */
* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none !important;
}

/* default elements */

:root {
  /* Background Colors */

  --primary-bg-color: #021735;
  --primary-bg-color: #0b2c57;
  /* Text Colors */

  --primary-text-color: #ffff;
  --primary-text-color: #000 !important;
  --primary-text-color: #000000f1 !important;
  --primary-text-color: rgba(0, 0, 0, 0.8) !important;
  --paragraph-text-color: #ffffff80;
  --paragraph-text-color: #000 !important;
  --paragraph-text-color: rgba(0, 0, 0, 0.8) !important;
  --secondary-text-color: #d7dfef;
  --orther-text-color: #ff7900;
  --linear: linear-gradient(130deg, #ff7900, #00abde);
  --linear: linear-gradient(130deg, #fe5800, #0071c3);
  --linear: #0071c3 !important;
  --linear: #fe5800 !important;
  --orange-buttons: #ff7900;
  --blue-buttons: #00abde;
  --font-family: "Poppins", sans-serif;

  --primary-background: #0071c3;
  --secondary-bakcground: #fe5800;
  --light-orange: #ff7900;
  --dark-orange: #fe5800;
  --dark-blue: #0071c3;
  --light-blue: #00abde;
  /* Button Colors */

  /* fonts */

  /* redesign */

  --primary-color: #0071c3;
  --secondary-color: #fe5800;
  --light-gray: #f7f7f7;
  --dark-gray: #333333;
  --white-color: #ffffff;
  --paragraph-color: rgba(0, 0, 0, 0.9) !important;
}

/* default styles */
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-family: "Kanit", sans-serif;
  font-style: normal;
}


.container_holder,
.header_contents,
.home_content_holder,
.our_company_policy,
.about_us,
.company_servies,
.facts,
.fiero_projects,
.project_into,
.footer_holder,
.questions,
.service-details,
.contact_us,
.project-categories {
  max-width: 1200px;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 0px !important;
  min-width: 300px;
  width: 100%;
  min-width: 300px !important;
}

/* .navbar {
  background: linear-gradient(to right, rgba(224, 243, 255, 1), rgb(255, 255, 255), rgba(224, 243, 255, 1));
} */

.navbar.scrolled {
  background: linear-gradient(
    to right,
    rgba(224, 243, 255, 1),
    rgb(255, 255, 255),
    rgba(224, 243, 255, 1)
  );
}

.home_section {
  background: url(../images/homeimage/homeimages.jpg);
  background: url(../images/homeimage/home7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;


}

.home_section .container {
  max-width: 1200px !important;
  margin: 0 auto !important;
}

.container {
  max-width: fit-content !important;
  margin: 0 !important;
  padding: 10px !important;
}

.awesome_design_one {
  background-size: cover;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border: 1px solid var(--dark-orange);
  position: relative;
  left: 30%;
  top: -20px;
  transform: rotate(45deg);
  display: none;
}
.awesome_design_three {
  background-size: cover;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border: 1px solid var(--dark-orange);
  position: relative;
  left: 70%;
  transform: rotate(45deg);
  display: none;
}

.awesome_design_two {
  background-size: cover;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border: 1px solid var(--dark-orange);
  position: relative;
  left: 20%;
  transform: rotate(45deg);
  display: none;
}

.awesome_design {
  background-size: cover;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border: 1px solid var(--dark-orange);
  position: relative;
  left: 90%;
  transform: rotate(45deg);
  display: none;
}

.awesome_design_footer {
  background-size: cover;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border: 1px solid var(--dark-orange);
  position: relative;
  left: 70%;
  transform: rotate(45deg);

  display: none;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
}

body,
html {
  overflow-x: hidden;
}

p {
  color: var(--primary-text-color);
  color: var(--paragraph-text-color);
  font-size: 0.98rem !important;
}

.code_style i {
  display: block;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: var(--orther-text-color);
}

a {
  color: var(--primary-text-color);
}

.navbar-brand {
  font-weight: 9000;
}

.fiero_logo {
  height: 35px;
  height: 50px;
  width: 150px;
  width: 170px;
  margin-left: -15px !important;
  z-index: 10000;
  color: #ffffff !important;
}
.navbar-nav {
  margin: 0 5% 0 0;
  padding: 0 !important;
}

.navbar-nav li {
  padding: 0 8px;
}

.navbar-nav a,
.nav_btn {
  color: var(--primary-text-color) !important;
  font-size: 0.8rem !important;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-nav a:hover {
  background: var(--linear);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-out;
  font-weight: 500;
}

/* #fe5800 #ff7900.  #0071c3 #00abde */

.nav_btn {
  background: var(--linear);
}

.navbar-toggler {
  background: var(--linear);
  padding: 0.2rem 0.7rem;
  font-size: 1.25rem;
  line-height: 1;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border-radius: none !important;
}

/* nav bar responsive */
@media screen and (max-width: 767px) {
  .navbar-nav li {
    padding: 5px 0;
  }

  .navbar-nav a,
  .nav_btn {
    font-weight: 500;
    color: var(--primary-text-color) !important;
  }

  .fiero_logo {
    height: 35px;
    height: 40px;
    width: 150px;
    width: 130px;
    margin-left: -15px !important;
    z-index: 10000;
    color: #ffffff !important;
  }

  .navbar-nav {
    margin: 0 0 5% 0 !important;
    padding: 0 !important;
  }
}

/* home section */

.home_content_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px !important;
  z-index: 100;
  height: 100dvh !important;
}

.home_image {
  position: relative;
  border-radius: 141px 22px 115px 58px;
  -webkit-border-radius: 141px 22px 115px 58px;
  -moz-border-radius: 141px 22px 115px 58px;
}
/* 
.home_image img {
  background: transparent;
  width: auto;
  transform: scale(1.25) !important;
} */

@media screen and (min-width: 767px) {
  .home_content_holder {
    height: calc(100dvh + 80px);
    order: 1;
  }
}

@media screen and (max-width: 767px) {
  .home_content_holder {
    order: 1;
  }

  .opening_content {
    order: 2;
  }

  .home_image img {
    background: transparent;
    width: auto;
    transform: scale(1);
  }
}

/* FOR ABOUT US */

.about_content_holder {
  height: 50dvh;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_content_holder p {
  color: var(--primary-text-color);
}

.opening_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 15px;
  color: #d7dfef;
  color: var(--primary-text-color);
}

.opening_content .home_para {
  font-size: 1rem;
  line-height: 1.7rem;
}

.action_btns {
  display: flex;
  gap: 20px;
}

.our_company_policy {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.our_company_policy .container {
  display: flex;
  flex-direction: column;
}
.our_company_policy .policy img {
  max-width: 230px;
  margin: 0 auto;
}

.our_company_policy .community_text {
  font-weight: 600;
  font-size: 1rem;
  color: var(--orther-text-color);
}

.our_company_policy .policy h1 {
  color: var(--paragraph-color);
  font-size: 1.9rem !important;
}

.our_company_policy .home_para {
  color: var(--paragraph-text-color);
}

.our_company_policy .policy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 150px;
  padding: 0 !important;
}

/* community reposnive */

@media screen and (max-width: 767px) {
  .our_company_policy .policy img {
    transform: scale(1);
    width: 100%;
  }

  .our_company_policy .policy_text {
    padding: 10px 5px !important;
    border: none;
    border-left: 2px solid var(--primary-text-color);
    border-right: 2px solid var(--primary-text-color);
    text-align: center;
  }

  .code_style i {
    display: block;
    font-size: 2rem;
  }

  .about_us .about_us_section {
    order: 2;
  }

  .about_us .policy_img {
    order: 1;
  }

  .community_text {
    text-align: center;
    width: 100%;
  }

  h1 {
    text-align: center;
    width: 100%;
  }
}


@media screen and (max-width:1000px) {
  .about_us .about_us_section {
    order: 2;
  }

  .about_us .policy_img {
    order: 1;
  }

}

/* about us section */

.about_us {
  /* height: 100dvh; */
  display: flex;
  align-items: center;
  margin-top: 1000 !important;
}

.about_us .policy_img {
  align-self: center;
  padding: 0 !important;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.about_us .policy_img img {
  padding: 0 !important;
  margin: 0 auto!important;

}

@media screen and (min-width: 500px) and (max-width: 850px) {
  .about_us .policy_img img {
    /* display: none; */
  }
}

.about_us_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 0 !important;
}

.about_us .list_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about_us .list_group li {
  background: transparent !important;
  border: none;
  color: var(--primary-text-color);
  list-style-type: none !important;
}

.about_us .list_group i {
  color: var(--orther-text-color);
  font-size: 1rem;
  display: inline-block;
  padding-right: 7px;
}

.about_us .community_text {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--orther-text-color);
}






.company_servies .service_holder .card span {
  font-size: 4rem;
  color: var(--dark-blue);
}

.company_servies .service_holder .card-title {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.company_servies .service_holder .card:hover .service_holder .card-title {
  color: var(--light-orange) !important;
}
.company_servies .service_holder .card .card-text {
  font-size: 0.95rem !important;
}
.company_servies .card-body {
  padding: 0 !important;
}


.fiero_projects .container {
  width: 100% !important;
}

.service_tittles {
  max-width: 600px;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
}
.company_servies .service_holder .card p {
  text-align: center;
  font-size: 0.9rem;
}

.sub_tittle {
  color: var(--primary-text-color) !important;
  color: var(--orther-text-color) !important;
  color: var(--dark-orange) !important;
  font-size: 2.5rem !important;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.5rem !important;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-text-color);
}

.company_servies .service_holder .card-body {
  width: 100% !important;
  margin: 0 auto !important;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 !important;
}
.company_servies .service_holder .card-title {
  width: 100% !important;
  margin: 0 !important;
}

.company_servies .service_holder .card img {
  height: 100px;
}

@media screen and (max-width: 767px) {
  .company_servies .service_holder .card img {
    height: 250px;
    margin-bottom: 5px;
  }



  .company_servies .col-md-9 {
    padding-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .company_servies .service_holder .card img {
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .company_servies .service_holder .card img {
    height: 200px;
  }
}

/* responsive home title */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.7rem !important;
    font-weight: 400;
    font-style: normal;
  }
}

@media screen and (max-width: 767px) {
  .action_btns .act_btn {
    padding: 0 10px;
  }
}

/* facts */

#carouselExampleSlidesOnly .carousel-item {
  height: 500px;
  background-color: var(--orther-text-color);
}

.facts .whole_facts_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-background);
  background: var(--dark-blue);
}
.facts .titles_holder {
  max-width: 600px;
  padding: 70px 0;
  text-align: center;
}

.facts .titles_holder .talking {
  font-weight: 500;
  color: #ffffff !important;
}

/* testing */

.whole_facts_div {
  height: 50dvh !important;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .whole_facts_div {
    height: 30dvh !important;
  }
}


.whole_facts_div .card-img-top {
  height: 150px;
  object-fit: cover;
}

.whole_facts_div .titles_holder {
  margin-bottom: 20px;
}

.whole_facts_div .titles_holder p {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
}

.whole_facts_div .talking {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.whole_facts_div h1 {
  color: #ffffff;
}

.whole_facts_div .sub_tittle {
  font-size: 20px;
}

.whole_facts_div .card-body h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.whole_facts_div .card-body p {
  font-size: 14px;
  color: #ffffff;
}

.facts .card-deck {
  margin-top: -120px !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around !important;
}

@media screen and (max-width: 350px) {
  .facts .card-deck {
    margin-top: -50px !important;
  }
}

.facts .card-deck .card {
  display: flex;
  justify-content: flex-start !important;
  border-bottom: 3px solid var(--orther-text-color);
  border-bottom: 5px solid var(--dark-blue);
  padding: 20px 0px !important;
  width: 260px;
  margin-bottom: 20px;
}

.facts .card-deck .card .card-body {
  padding: 2px !important;
  margin: 0 !important;
}

.facts .card-deck .card img {
  height: 80px;
  width: auto;
}

.facts .card-deck .card-text {
  color: var(--paragraph-text-color) !important;
  font-weight: normal;
}

.facts .card-deck .card-title {
  font-size: 3rem;
  font-weight: 500 !important;
  color: #2f2e2e !important;

  font-weight: 400;
  font-style: normal;
}

.facts .card-deck i {
  display: block;
  font-size: 2.5rem;
  width: 65px;
  height: 65px;
  text-align: center;
  padding: 10px 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  background: var(--linear);
  background: var(--dark-blue);
  border-radius: 50%;
  align-self: center;
  color: var(--dark-orange);
}

.fiero_projects {
  margin-top: 70px;
}
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px !important;
}
.projects .card {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  border: none !important;
}

.projects .card .card-body {
  width: 100%;
  position: absolute;
  text-align: left;
  height: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  gap: 15px !important;
  z-index: 1;
}

.projects .card .card-body .project_category {
  font-weight: 600;
  color: var(--primary-text-color);
  margin: 0 !important;
}
.projects .card .card-body .project_description {
  font-weight: 600;
  color: var(--primary-text-color);
  line-height: 2rem;
  border-bottom: 2px solid var(--orther-text-color);
  margin: 0 !important;
}



.projects .card .card-body .sub_tittle {
  font-size: 1.4rem !important;
  margin: 0 !important;
}

.projects .card img {
  height: 270px;
  width: 700px !important;
  border-radius: 7px;
}

.projects .card .proj_img {
  position: relative;
  z-index: 0;
}

.projects .card .proj_img img {
  border-radius: 12px !important;
}

.projects .card .proj_img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(9, 77, 98, 0.5);
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px !important;
}

@media screen and (max-width:890px) {
  .projects .card .card-body .project_description a,
  .projects .card .card-body .project_category {
color: #ffffff !important;
  }


.projects .card .proj_img::after {
  background: rgba(0, 0, 0, 0.6);
}

.projects .card .card-body .sub_tittle {
  font-size: 1.4rem !important;
  margin: 0 !important;
  color: #ffffff !important;
}
}

.our_company_policy .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.our_company_policy .home_title {
  width: 100%;
  text-align: right;
  /* padding-right: 20px; */
  align-self: center;
  border: 1px solid green;
}

.project_into {
  margin-top: 200px !important;
  padding: 0 !important;
  height: 15dvh;
}

.project_into .container {
  padding: 0 !important;
  padding-bottom: 0 !important;
  /* height: 300px ; */
}

.our_company_policy .code_style {
  width: 100%;
}

.code_style i {
  font-size: 2rem !important;
}

/* community responsive */

/* FAQs */

.fixed-width-accordion {
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
}
.accordion-button {
  box-shadow: none;
  color: #ffffff !important;
}

.questions .accordion-button {
  font-size: 0.9rem !important;
}
.questions .accordion-body {
  font-size: 0.9rem !important;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.questions .accordion .accordion-item {
  background: transparent;
  border: none !important;
}
.questions .accordion .accordion-item .accordion-body {
  color: var(--primary-text-color);
  text-align: start;
}
.team_members {
  display: flex;
  justify-content: center;
}
.team_members .single-team-member {
  /* background-color: #1e2738; */
  background: #e0f3ff56 !important;
  border-radius: 12px;
  padding: 10px !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
  border: 1px solid #00abde !important;
width: 300px !important;

}
.team_members .single-team-member .team-member-thumb {
  height: 170px;
  border-radius: 12px;
  background: var(--light-blue);
  position: relative;
  margin-bottom: -10px !important;

}
.team_members .single-team-member .team-member-thumb .team-social-icon a {
  display: inline-block;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.team_members .single-team-member .team-member-thumb {
  margin: 10px auto;
  width: fit-content !important;
  padding: 0 !important;
}

.team_members .single-team-member .team-member-thumb img {
  height: 150px;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 10px !important;
  padding: 0px 7px !important;
  border-radius: 12px;
}

.team_members .single-team-member .team-info {
  margin-top: 50px;
}
.team_members .single-team-member .team-info .w-text {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: var(--primary-text-color);
}
.team_members .single-team-member .team-info .g-text {
  text-transform: uppercase;
  font-size: 0.75rem !important;
  margin-bottom: 0;
  text-align: center;
}

.team_members .team-social-icon a {
  font-size: 22px;
  margin-top: -25px;
  width: 80px;
  height: 80px;
  background: url(../images/diamond-shape.svg) no-repeat center center;
  background-size: auto;
  background-size: contain;
  color: #092a5b;
  line-height: 70px;
  display: inline-block;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.team_members .team-social-icon a i {
  display: inline-block;
  align-self: center;
  width: 100%;
  text-align: center;
  margin-left: -5px;
  margin-top: -9px;
}

/* footer */

.footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  padding: 30px 5px;
  background: rgba(224, 243, 255, 1);
}


@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 5px;
  }
}
.footer a {
  text-decoration: none;
  text-align: left;
}

.footer .footer-copywrite-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .footer-copywrite-info .footer-social-info i {
  font-size: 13px;
  color: var(--primary-text-color);
  padding: 0 5px;
}

.footer h5 {
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
  color: var(--orther-text-color);
}
.footer p {
  font-size: 14px;
  color: var(--primary-text-color);
  text-align: start;
  letter-spacing: 0.5px;
}

.footer .footer-copywrite-info .copy_text p {
  font-size: 13px !important;
}

.about_us .policy_holder {
  /* border: 2px solid pink; */
  margin: 0 !important;
  width: 100%;
}

.company_servies .card:hover {
  border: 1px solid var(--orther-text-color) !important;
  transition: all 0.5s ease-in;
}

.company_servies .card{
}

.our_company_policy .community_text {
  font-weight: 600;
  font-size: 1rem;
  color: var(--orther-text-color);
}

h1.home_title {
  font-size: 3.6rem !important;
  font-weight: 800 !important;
  font-weight: bolder !important;
}

h1 {
  font-size: 2rem !important;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-text-color);
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  h1.home_title {
    font-size: 2.3rem !important;
  }

  h1 {
    font-size: 1.7rem !important;
    font-weight: 600;
  }
}

.sub_tittle,
h1,
.community_text,
.card-body h5 {
  font-family: var(--font-family) !important;
  font-weight: bolder !important;
}

/* heights to use on buttons
 */

/* height: 40px;
 width: 120px; */

.nav_btn,
.act_btn {
  border-radius: 40px;
  background: var(--light-orange) !important;
  background: var(--dark-orange) !important;
}

.action_btns button,
button a {
  border: none !important;
}

.navbar-toggler {
  background: var(--dark-orange) !important;
  border: 1px solid var(--dark-orange);
}
.nav_btn {
  background: var(--dark-orange) !important;
  border: 1px solid var(--dark-orange);
}

.act_btn_second {
  background: var(--dark-blue) !important;
  border: 1px solid var(--dark-blue);
}

body,
p,
.sub_tittle,
h1,
.community_text,
.card-body h5 {
  font-family: "Poppins", sans-serif !important;
  font-family: var(--font-family) !important;
}
/* font sizes for headers */
/* font sizes for  */

.action_btns,
.act_btn,
.btn a {
  padding: 13px 15px !important;
  margin: 0 !important;
}

.nav_btn a,
.btn a {
  padding: 0px 0px !important;
  margin: 0 !important;
}

.navbar .btn a {
  padding: 0px 0px !important;
}

.btn a {
  padding: 5px 0 !important;
}

/* hovers */

@media screen and (max-width: 767px) {
  .action_btns,
  .act_btn {
    padding: 13px 15px !important;
  }

  .nav_btn a,
  .btn a {
    padding: 0px 0px !important;
  }

  .btn a {
    padding: 5px 0px !important;
  }
  .navbar .btn a {
    padding: 0px 0px !important;
  }
}

.code_style i {
  display: block;
  font-size: 1.3rem !important;
  width: 100%;
  text-align: center;
  color: var(--dark-orange);
}

.navbar,
.header_contents {
  padding: 5px 0px !important;
}

@media screen and (min-width: 767px) {
  .navbar {
    background-size: 100%;
  }
}

.navbar-toggler-icon {
  display: inline-block;
  color: var(--primary-text-color) !important;
}

.navbar-toggler .fa-bars {
  display: inline-block;
  color: var(--primary-text-color) !important;
  padding: 6px;
}

/* redesign */
.header_contents {
  padding: 0 5px !important;
}

.home_section .home_title {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-nav li a {
    color: var(--dark-blue) !important;
    color: var(--dark-orange) !important;
  }
}

.header_contents * {
  color: #ffffff;
}

.navbar {
  position: relative;
}

.about_us {
  /* height: 100dvh; */
  display: flex;
  align-items: center;
  padding: 0 10px !important;
}

/* Add this CSS to your stylesheet */

.blur-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.blur-effect.show {
  opacity: 1; /* Show the blur effect */
}

.about_us .about_us_section {
  padding: 0 !important;
  margin: 0 !important;
}



.our_company_policy .policy_holder {
  display: flex;
  /* gap: 2px !important; */
}

.our_company_policy .policy_img img {
  padding: 0 !important;
  margin: 0 !important;
  align-self: center;

}

.our_company_policy .policy h1 {
  width: 98% !important;
  text-align: center;
}

.onet {
  display: none;
}

.fiero_projects {
}

/* 
icons in services

*/



.company_servies .service_holder {
display: flex;
justify-content: center !important;
flex-direction: row !important;
}
/* 
.company_servies .service_holder .col-md-4 {
  display: flex;
  align-self: center;
} */



.company_servies .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  0 !important;
  margin: 0 auto;
  border: 0 !important;
}


.company_servies .service_holder .services_contents {
  border: 1px solid #e0f3ffbc; 
  height: 100%;
  width: 300px;
  align-self: center;
  padding: 20px 5px !important;
  margin: 20px auto;
  border-radius: 12px;
  display: flex;
  gap: 10px;
}
.company_servies .service_holder .services_contents:hover{
  border: 1px solid var(--dark-orange); 
  transition: all .5s ease-in-out;
}




.company_servies .service_holder  .card{
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0px auto !important;
  border: 0 !important;


}


.company_servies .service_holder .card-title, 
.company_servies .service_holder .card-text {
  align-self: center;
}

.services_contents p{
  padding: 5px 10px !important;
}


.services_contents:hover h5, .services_contents:hover span {
  color: var(--dark-orange) !important;
  transition: all .5s ease-in-out;

}


.our_company_policy, .fiero_projects{
  padding: 0 5px !important;
}


.about_us {
  /* height: 100dvh; */
  display: flex;
  align-items: center;
  margin-top: 20px !important;
}

.footer .row {
  display: flex;
  justify-content: space-between !important;
  margin: 0 auto;
  padding: 0 !important;
  /* gap: 10px; */
}
