:root {
  /* Background Colors */
  --primary-text-color: rgba(0, 0, 0, 0.8) !important;
  --paragraph-text-color: rgba(0, 0, 0, 0.8) !important;
  --light-orange: #ff7900;
  --dark-orange: #fe5800;
  --dark-blue: #0071c3;
  --light-blue: #00abde;
  --font-family: sans-serif;
}

.slider {
  width: 100%;
  /* height: 45dvh; */
  padding: 200px 0;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
  /* border: 1px solid indigo !important; */
  border: 1px solid red;
}

.slides {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.slides > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn--left {
  background: var(--dark-blue);

}


.slider__btn--right{
  background: var(--dark-orange);

}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0 10px;
}


.dots__dot--active {
  background-color: var(--dark-orange);
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 400px;
  position: relative;
  padding: 10px 20px ;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px !important;
}


.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -.5rem;
  left: 1px;
  line-height: 1;
  font-size: 4rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}


@media screen and (max-width:767px) {
  .testimonial {
    width: 400px;
    position: relative;
    padding: 10px 50px ;
  }

  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    padding: 0px 5px;

  }  

  .testimonial::before {
    content: "\201C";
    position: absolute;
    top: -.5rem;
    left: 25px;
  }
}

@media screen and (max-width:800px) {

  .slider {
    width: 100%;
    padding: 250px 0;
    margin: 0 auto;
    position: relative;
    /* IN THE END */
    overflow: hidden;
  }
  

}
@media screen and (min-width:800px) {


  .slider__btn {
    position: absolute;
    top: 80% !important;
    z-index: 10;
    padding: 0px 5px;
  }  


  .testimonial::before {
    left: -5px;
  }

}

.testimonial__text {
  font-size: .9rem;
  color: #666;
  padding: 0 !important;
  margin: 0 !important;
}


.testimonial__author {
  display: flex;
  align-items: center;
}

.testimonial__author img {
  height: 60px;
  border: 2px solid var(--dark-orange);
  border-radius: 50%;
  margin: 2px;
}

.testimonial__author .details {
  align-self: last baseline;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testimonial__name {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-start;
  margin: 0;
}

.testimonial__location {
  font-size: .7rem !important;
  align-self: flex-start;

}

.testimonial__photo {
  background: var(--dark-blue);
  background: #ffffff;
}
.testimonial__text {
  max-height: 93px !important;
  overflow: hidden;
}